body {
    text-align: center;
    background-color: black;
}

.groupColumn {
    margin: 25px;
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
}

.results {
    display: none;
    margin: 5px auto;
    background-color: white;
    border: 2px solid black;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    position: relative;
}

.inventory {
    display: none;
    margin: 5px auto;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    -webkit-columns: 4 150px;
    -moz-columns: 4 150px;
    columns: 4 150px;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
}

.mega-header {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: 90%;
  background-image:
        radial-gradient(ellipse closest-side, rgba(15, 14, 22, 0.5), #100e17),
        url(../img/random-number-slots.png);
  background-repeat: no-repeat;
  opacity: 0.35;
}

.thumbnail img{
  width:30px;
  height:30px;
}

#validation {
	background: #FFC199; /*Change background color*/
	border-left: 9px solid #FF6600; /*Change left border color*/
	color: #2c3e50; /*Change text color*/
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.space-buffer {
margin-top:20px;
margin-bottom:20px;
position: relative;
}

.thisTeam {
  background-color: lightgray;
}